<?xml version="1.0" encoding="UTF-8"?>

<!-- Define the variables in "$(var.*) expressions" -->
<?define Name = "DriverCatalogImportService" ?>
<?define Manufacturer = "Adaptiva" ?>
<?define Version = "1.0.0.0" ?>
<?define UpgradeCode = "9ED3FF33-8718-444E-B44B-69A2344B7E98" ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Package Name="$(Name)"
             Manufacturer="$(Manufacturer)"
             Version="$(Version)"
             UpgradeCode="$(var.UpgradeCode)"
             Compressed="true">

		<!-- Allow upgrades and prevent downgrades -->
		<MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

		<!-- Define the directory structure -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">

				<!-- Create a folder inside program files -->
				<Directory Id="ROOTDIRECTORY" Name="$(var.Manufacturer)">

					<!-- Create a folder within the parent folder given the name -->
					<Directory Id="INSTALLFOLDER" Name="$(Name)" />
				</Directory>
			</Directory>
		</Directory>

		<!-- The files inside this DirectoryRef are linked to
             the App.WindowsService directory via INSTALLFOLDER -->
		<DirectoryRef Id="INSTALLFOLDER">

			<!-- Create a single component which is the App.WindowsService.exe file -->
			<Component Id="ServiceExecutable" Bitness="always64">

				<!-- Copies the App.WindowsService.exe file using the
                     project reference preprocessor variables -->
				<File Id="DriverCatalogImportWorkerService.exe"
                      Source="C:\Users\YuekunLi\source\repos\CS_Solution1\DriverCatalogImportWorkerService\bin\Release\net6.0\win-x64\publish\win-x64\DriverCatalogImportWorkerService.exe"
                      KeyPath="true" />

				<!-- Remove all files from the INSTALLFOLDER on uninstall -->
				<RemoveFile Id="ALLFILES" Name="*.*" On="both" />

				<!-- Tell WiX to install the Service -->
				<ServiceInstall Id="ServiceInstaller"
                                Type="ownProcess"
                                Name="Driver Catalog Import"
                                DisplayName="$(Name)"
                                Description="Import Driver Catalog to WSUS"
                                Start="auto"
                                ErrorControl="normal" />

				<!-- Tell WiX to start the Service -->
				<ServiceControl Id="StartService"
                                Start="install"
                                Stop="both"
                                Remove="uninstall"
                                Name="Driver Catalog Import"
                                Wait="true" />
			</Component>
			<Component Id="SevenZipDll">
				<File Id="SevenZip.dll"
					  Source="C:\Program Files\7-Zip\7z.dll"
					  KeyPath="yes" />
			</Component>
			<Component Id="ConfigFile">
				<File Id="DriverCatalogImportCfg.txt"
					  Source="C:\Temp\DriverCatalogImportCfg.txt"
					  KeyPath="yes" />
			</Component>
			<Component Id="VendorProfile">
				<File Id="VendorProfileOverride.txt"
					  Source="C:\Temp\VendorProfileOverride.txt"
					  KeyPath="yes" />
			</Component>
					   
		</DirectoryRef>

		<!-- Tell WiX to install the files -->
		<Feature Id="Service" Title="Driver Catalog Import Setup" Level="1">
			<ComponentRef Id="ServiceExecutable" />
			<ComponentRef Id="SevenZipDll"/>
			<ComponentRef Id="ConfigFile"/>
			<ComponentRef Id="VendorProfile" />
		</Feature>

	</Package>
</Wix>